#container {
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  padding-bottom: 80px;
  font-family:courier, courier new, serif;
  border: 3px solid #7278f2;
  border-radius: 6px;
  background-color: #fafafc;
}

#header {
 padding: 30px;
}

#book-form {
  padding-bottom: 30px;
}

#book-form input {
  margin: 6px;
  padding: 6px;
  display: inline-block;
  border: 1px solid #adadad;
  border-radius: 3px;
}

#book-form button, .d-btn {
  margin: 6px;
  padding: 6px 10px;
  background-color: #7278f2;
  color: white;
}

#book-area {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
}

.card {
  margin: 0 auto;
  width: 290px;
  height: calc(210px - 10%);
  border: 1px solid #adadad !important;
  padding: 18px;
  justify-content: space-between;
  margin-bottom: 18px;
  word-wrap: break-word;
  background-color: #f0f0f7 !important;
}

.card-title {
  font-size: calc(30px - 10%);
}

.active {
  content: "read";
}
.inactive {
  content: "not-read";
}

